# NPM Registry
registry=https://registry.npmjs.org/

# Local Registry
@local-registry:registry=http://localhost:4873/

# Enables automatic installation of missing peer dependencies
auto-install-peers=true

# Abort installation if peer dependencies cannot be resolved
strict-peer-dependencies=true
